# Note that not all variables here might be in use for your selected configuration

# Prisma

POSTGRES_PRISMA_URL=

# Ably

ABLY_API_KEY=

# NextAuth

NEXTAUTH_URL=https://127.0.0.1:3000
NEXTAUTH_SECRET=

# Spotify OAuth

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
